HOST_PORT=8000
MONGODB_CONNECTION_STRING=mongodb://mongodb:27017
COMMUNICATION_MODE=socket

MAN10SOCKET_REPLY_STATE_TTL_SECONDS=30
MAN10SOCKET_DEFAULT_REPLY_TIMEOUT_SECONDS=5
MAN10SOCKET_HEARTBEAT_TIMEOUT_SECONDS=6
MAN10SOCKET_FRAMING_PROTOCOL=delimiter_v1
MAN10SOCKET_MAX_FRAME_BYTES=1048576
MAN10SOCKET_HOSTS=man10:minecraft:6789

QUEUE_SIZE=8
QUEUE_RATE_LIMIT=0

BATCHING_SET_VARIABLE_BATCH_SECONDS=1

API_ENDPOINT=https://{endpoint}
API_KEY=replace_me

DEFAULT_STORAGE_SIZE_MAX=3456
DEFAULT_STORAGE_SLOT_PRICE=100
